<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="_LinkReferencia" />
    <title>@ViewData["Title"]</title>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Dashboard" asp-action="Index">
                    <i class="bi bi-house-door fs-3"></i>
                    <span>Inmobiliaria</span>
                </a>
                <!-- Botón hamburguesa para móvil -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <!-- Links centrados -->
                    <ul class="navbar-nav mx-auto d-none d-lg-flex">
                        <li class="nav-item">
                            <a class="nav-link-desktop" asp-controller="Programa" asp-action="Index">
                                <i class="bi bi-house-gear"></i>
                                <span>Programas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-desktop" asp-controller="Persona" asp-action="Index">
                                <i class="bi bi-person-vcard"></i>
                                <span>Personas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-desktop" asp-controller="Notificaciones" asp-action="Index">
                                <i class="bi bi-chat-left-dots"></i>
                                <span>Notificaciones</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link-desktop dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-file-earmark-text"></i>
                                <span>Documentos</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Separaciones" asp-action="Index">
                                        Separaciones<i class="bi bi-file-text"></i>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Contratos" asp-action="Index">
                                        Contratos<i class="bi bi-file-richtext"></i>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                @*<li>
                                    <a class="dropdown-item-custom" asp-controller="CartaNotarial" asp-action="Index">
                                        Carta Notarial<i class="bi bi-file-earmark-medical"></i>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Adendas" asp-action="Index">
                                        Adendas<i class="bi bi-file-medical"></i>
                                    </a>
                                </li>*@
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link-desktop dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-cash-coin"></i>
                                <span>Caja</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Caja" asp-action="IngresosIndex">
                                        Ingresos<i class="bi bi-bank"></i>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Caja" asp-action="EgresosIndex">
                                        Egresos<i class="bi bi-cash"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li class="nav-item dropdown">
                            <a class="nav-link-desktop dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-flag"></i>
                                <span>Reportes</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Reportes" asp-action="ReporteCliente">
                                        Reporte de Clientes<i class="bi bi-people"></i>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Reportes" asp-action="ReporteNotificaciones">
                                       Reporte de Notificaciones<i class="bi bi-app-indicator"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link-desktop dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-gear"></i>
                                <span>Administracion</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Usuario" asp-action="Index">
                                        Usuario<i class="bi bi-person-gear"></i>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Roles" asp-action="Index">
                                        Roles<i class="bi bi-database-gear"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Links para moviles -->
                    <ul class="navbar-nav d-lg-none">
                        <li class="nav-item">
                            <a class="nav-link-mobile" asp-controller="Programa" asp-action="Index">
                                <i class="bi bi-house-gear"></i>
                                <span>Programas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-mobile" asp-controller="Persona" asp-action="Index">
                                <i class="bi bi-person-vcard"></i>
                                <span>Personas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-mobile" asp-controller="Notificaciones" asp-action="Index">
                                <i class="bi bi-chat-left-dots"></i>
                                <span>Notificaciones</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link-mobile dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-file-earmark-text"></i>
                                <span>Documentos</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Separaciones" asp-action="Index">
                                        <i class="bi bi-file-text"></i>
                                        <span>Separaciones</span>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Contratos" asp-action="Index">
                                        <i class="bi bi-file-richtext"></i>
                                        <span>Contratos</span>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                @*<li>
                                    <a class="dropdown-item-custom" asp-controller="CartaNotarial" asp-action="Index">
                                        <i class="bi bi-file-earmark-medical"></i>
                                        <span>Carta Notarial</span>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Adendas" asp-action="Index">
                                        <i class="bi bi-file-medical"></i>
                                        <span>Adendas</span>
                                    </a>
                                </li>*@
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link-mobile dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-cash-coin"></i>
                                <span>Caja</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Caja" asp-action="IngresosIndex">
                                        <i class="bi bi-bank"></i>
                                        <span>Ingresos</span>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Caja" asp-action="EgresosIndex">
                                        <i class="bi bi-cash"></i>
                                        <span>Egresos</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li class="nav-item dropdown">
                            <a class="nav-link-mobile dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-flag"></i>
                                <span>Reportes</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Reportes" asp-action="ReporteCliente">
                                        <i class="bi bi-people"></i>
                                        <span>Reporte de Clientes</span>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Reportes" asp-action="ReporteNotificaciones">
                                        <i class="bi bi-app-indicator"></i>
                                        <span>Reporte de Notificaciones</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link-mobile dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-gear"></i>
                                <span>Administración</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Usuario" asp-action="Index">
                                        <i class="bi bi-person-gear"></i>
                                        <span>Usuarios</span>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" style="border-color: rgba(255,255,255,0.2);"></li>
                                <li>
                                    <a class="dropdown-item-custom" asp-controller="Roles" asp-action="Index">
                                        <i class="bi bi-database-gear"></i>
                                        <span>Roles</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item ms-auto">
                            <div class="user-name-mobile">@Context.Session.GetString("Usuario")</div>
                            <a class="cerrarSesion-mobile" asp-action="Logout" asp-controller="Login">Cerrar Sesión</a>
                        </li>
                    </ul>
                    <div class="user-area d-none d-lg-block">
                        <div class="user-name">@Context.Session.GetString("Usuario")</div>
                        <a class="nav-link-desktop" asp-action="Logout" asp-controller="Login">Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="mt-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - InmobiliariaWeb - &reg; by $hadoW
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
