<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="_LinkReferencia" />
    <title>@ViewData["Title"]</title>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand me-5" asp-area="" asp-controller="Dashboard" asp-action="Index">
                    <i class="bi bi-house-door fs-3"></i>
                    <span class="col-form-label">Inmobiliaria</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-2">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Programa" asp-action="Index">
                                Programas<i class="bi bi-house-gear"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Persona" asp-action="Index">
                                Personas<i class="bi bi-person-vcard"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Documentos<i class="bi bi-file-earmark-text"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Separaciones" asp-action="Index">
                                    Separaciones<i class="bi bi-file-text"></i>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" asp-controller="Contratos" asp-action="Index">
                                    Contratos<i class="bi bi-file-richtext"></i>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="CartaNotarial" asp-action="Index">
                                        Carta Notarial<i class="bi bi-file-earmark-medical"></i>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Adendas" asp-action="Index">
                                        Adendas<i class="bi bi-file-medical"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Notificaciones" asp-action="Index">
                                Notificaciones<i class="bi bi-chat-left-dots"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Reportes<i class="bi bi-flag"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Reportes" asp-action="ReporteCliente">
                                        Reporte de Clientes<i class="bi bi-people"></i>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Reportes" asp-action="ReporteNotificaciones">
                                        Reporte de Clientes<i class="bi bi-app-indicator"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Caja
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Caja" asp-action="IngresosIndex">
                                        Ingresos<i class="bi bi-bank"></i>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Caja" asp-action="EgresosIndex">
                                        Egresos<i class="bi bi-cash"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Administracion<i class="bi bi-gear"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Usuario" asp-action="Index">
                                        Usuarios<i class="bi bi-person-gear"></i>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Roles" asp-action="Index">
                                        Roles y Accesos<i class="bi bi-database-gear"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <span>Bienvenido: @Context.Session.GetString("Usuario") </span>
                        <a asp-action="Logout" asp-controller="Login">Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - InmobiliariaWeb - &reg; by $hadoW
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
