@{
    Layout = "_Layout";
    var identKardex = Context.Session.GetString("Ident_Kardex");
    var activeTab = ViewData["ActiveTab"] as string;
}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item mx-2">
            <a class="nav-link @(activeTab == "Adenda" ? "active" : "")"
               asp-controller="Kardex" asp-action="Adenda" id="tabAdenda">
                Adenda
            </a>
        </li>

        @if (!string.IsNullOrEmpty(identKardex))
        {
            <li class="nav-item mx-2">
                <a class="nav-link @(activeTab == "Nuevo" ? "active" : "")"
                   asp-controller="Kardex" asp-action="Nuevo" id="tabKardex">
                    Nuevo Kardex
                </a>
            </li>
        }
        else
        {
            <li class="nav-item mx-2">
                <a class="nav-link disabled"
                   aria-disabled="true" id="tabKardex">
                    Nuevo Kardex
                </a>
            </li>
        }
    </ul>
    <div class="tab-content border border-top-0 rounded-bottom shadow-sm p-4 bg-white">
        @RenderBody()
    </div>
</div>
@await RenderSectionAsync("Scripts", required: false)