@model LoginViewModel
@{
    ViewData["Tittle"] = "Inicio de Sesión";
    Layout = "_LayoutLimpio";
}

<section class="vh-100">
    <div class="container-fluid" style="height:100%" >
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="Index" asp-controller="Login" method="post">
                    <div class="card text-dark">
                        <div class="card-header" style="text-align:center">
                            <!-- Icono del Login -->
                            <h1 style="padding-top:1rem;padding-bottom:1rem">Login</h1>
                        </div>
                        <div class="card-body">
                            <!-- Usuario -->
                            <div class="row my-3 px-2">
                                <div class="input-group">
                                    <span class="input-group-text" id="Usuario">
                                        <i class="bi bi-person-vcard"></i>
                                    </span>
                                    <div class="form-floating shadow" style="flex:1">
                                        <input asp-for="Usuario" type="text" class="form-control" placeholder="Correo" aria-label="Usuario" aria-describedby="Usuario" id="UserName">
                                        <label for="UserName">Usuario</label>
                                    </div>
                                </div>
                                <span asp-validation-for="Usuario"></span>
                            </div>
                            <!-- Clave -->
                            <div class="row my-3 px-2">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="Clave">
                                        <i class="bi bi-key"></i>
                                    </span>
                                    <div class="form-floating shadow" style="flex:1">
                                        <input asp-for="Clave" type="password" class="form-control" placeholder="Clave" aria-label="Clave" aria-describedby="Clave" id="UserPassword">
                                        <label for="UserPassword">Clave</label>
                                    </div>
                                    <button type="button" class="btn btn-outline-secondary shadow" id="mos-ocu">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                                <span asp-validation-for="Usuario"></span>
                            </div>
                        </div>
                        <div class="card-footer" type="submit" style="padding:0">
                            <button type="submit" class="btn btn-outline-dark" style="width:100%; height:100%; padding:1.5rem 0 1.5rem 0">
                                <h4>Iniciar Sesión</h4>
                            </button>
                        </div>
                    </div>
                    @*<div class="d-flex justify-content-between align-items-center">
                        <a href="#!" class="text-body">Olvidó clave?</a>
                    </div>*@
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
@if (!string.IsNullOrEmpty(Model.Mensaje))
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @Model.Mensaje
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

}

<script type="text/javascript">
    var mensajeError = '@Model.Mensaje';
    if (mensajeError && mensajeError.trim() !== '') {
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        var passwordInput = document.getElementById('UserPassword');
        var toggleButton = document.getElementById('mos-ocu');

        toggleButton.addEventListener('click', function () {
            // Cambia el tipo de input entre 'password' y 'text'
            passwordInput.type = (passwordInput.type === 'password') ? 'text' : 'password';

            // Cambia el ícono del botón
            var eyeIcon = toggleButton.querySelector('.bi');
            eyeIcon.classList.toggle('bi-eye');
            eyeIcon.classList.toggle('bi-eye-slash');
        });
    });
</script>