@model InmobiliariaWeb.Models.Contratos.TransferenciasContado
@{
}
<form asp-action="TransferenciasContado" asp-controller="Contratos" method="post">
    <input asp-for="@Model.Ident_Contratos" hidden/>
    aqui se ven las transferencias al contado
</form>