@model InmobiliariaWeb.Result.Contratos.ImpresionContrato
@{
    Layout = "_ContratosLayout";
}
<div class="container">
    <div class="row">
        CONTRATO DE TRANSFERENCIA DE POSESIÓN DE TERRENO RUSTICO
    </div>
</div>
