@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row row-cols-2">
                    <div class="col-9">
                        <h2>Carta Notarial</h2>
                    </div>
                    <div class="col-3 text-end">
                        <a class="btn btn-outline-success" asp-controller="CartaNotarial" asp-action="CartaNotarial1Crear">
                            Nuevo
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
        <div class="table-responsive-md">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <td></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>