@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <div class="container">
        <div class="row g-2">
            <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                <div class="form-floating">
                    <select class="form-select">
                    </select>
                    <label>Tipo Ingreso</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input class="form-control" type="date"/>
                    <label>Fecha Ingreso</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-8">
                <div class="form-floating">
                    <select class="form-select">
                    </select>
                    <label>Programa</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-2">
                <div class="form-floating">
                    <select class="form-select">
                    </select>
                    <label>Manzana</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-2">
                <div class="form-floating">
                    <select class="form-select">
                    </select>
                    <label>Lote</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control"></textarea>
                    <label>Observacion:</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-floating">
                    <select class="form-select">
                    </select>
                    <label>Tipo Pago</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-floating">
                    <select class="form-select">
                    </select>
                    <label>Banco</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-floating">
                    <select class="form-select">
                    </select>
                    <label>Numero Cuenta</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-floating">
                    <select class="form-select">
                    </select>
                    <label>Moneda</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-floating">
                    <input class="form-control"/>
                    <label>Tipo Cambio</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-floating">
                    <input class="form-control" />
                    <label>Importe</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-floating">
                    <input class="form-control" />
                    <label>Numero Operacion</label>
                </div>
            </div>
        </div>
        
    </div>
</form>